/* styles.css */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: Roboto, sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styling */
.header {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #1f2937;
    flex: 1;
    padding-top: 8px;
    padding-left: 128px;
    padding-right: 128px;
}

.headerTop {
    display: flex;
    justify-content: space-around;
}

.headerLogo {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.headerLinks {
    display: flex;
    gap: 24px;
}

.headerBottom {
    display: flex;
    
    gap: 32px;
    margin-bottom: 48px;
}

.headerBottomLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.headerBottomLeftHeadline {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    width: 330px;
    height: 120px;
}

.headerBottomLeftText {
    width: 330px;
    height: 120px;
    margin-top: 0;
    margin-bottom: 0;
}

.headerBottomLeftText,
.headerLinks {
    font-size: 18px;
    color: #E5E7EB;
}

.signupButton {
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    padding: 8px 25px;
}

.headerBottomRight {
    display: flex;
    align-items: flex-start;
}

#headerImg {
   width: 420px;
   height: 120px;
}
/* RandomInfo styling */
.randomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    flex: 1;
    margin-bottom: 48px;
}

.randomInfoHeadline {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 24px;
    margin-bottom: 32px;
}

.pictureSlide {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictureActual {
    width: 180px;
    height: 180px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}
.subtext {
    display: flex;
    width: 180px;
    text-align: center;
    margin-top: 4px;
}

/* Quote styling */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 128px;
    padding-right: 128px;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    margin-bottom: 48px;
}

.quoteProper {
    width: 800px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.citation {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 595px;
}

/* Signup styling */
.signup {
    display: flex;
    padding-left: 128px;
    padding-right: 128px;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    margin-bottom: 48px;
}

.signupBox {
    display: flex;
    justify-content: space-around;
    width: 900px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 32px 18px;
}

.signupLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #f9faf8;
    gap: 4px;
}

.signupLeftHeader {
    font-size: 18px;
    font-weight: 900;
}

.signupLeftText {
    font-size: 14px;
}

.signupRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupButtonTwo {
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 6px;
    border: 2px solid #f9faf8;
    padding: 8px 25px;
}

/* Footer styling */
.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    flex: 1;
    padding-top: 24px;
    padding-bottom: 24px;
}